<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>About RishiNet</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

    <style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/gallery.css" %}
    {% include "bootstrap/css/abcss.css" %}
   </style>
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div id="menu">
		<ul>
		    <li><img src="http://i.imgur.com/DaSk2Cf.jpg" alt="RishiNet" /><li/>
			<li><a href="/contact/"  title="">Contact Us</a></li>
			<li><a href="/share/" title="">Share </a></li>
			<li><a href="/gallery01/" title="">Gallery</a></li>
			<li><a href="/about/" title="">About</a></li>
			<li><a href="/index/" title="">Home</a></li>
		</ul>
	</div>

          <!-- <div id="footer">
             <li><a href="#" title="">Contact Us</a></li>
             <li><a href="#" title="">Useful Links</a></li>
             <li><a href="index.html" title="">Back to top</a></li>
             
    </div> -->
				
			
				
                
              </ul>
          
<br><br><br><br>
  <div id="DIV_1">
	
	<div id="DIV_3">
		
			<center>
				<h3 id="H3_6"><u>
					About RishiNet
				</h3></u></center>
				
				<div class=col-md-2></div>
				<div class=col-md-4>
                <img src="http://omshivam.files.wordpress.com/2011/09/sapta-rishi.jpg" style="height:350px"/></div>
                <div class=col-md-6>
				<h4>
					This website is your guide to ashrams in India that are related to Sages(Rishi's) in the early ages. Ashrams offer a sanctuary to go deeper into your spiritual practice away from the distraction and stress of every-day life. Most of the ashrams listed here provide clean accommodations and healthy, vegetarian food. You can attend a scheduled class or workshop, or visit the ashram for an extended period of self-study. Some people come for days or weeks, while some become full-time residents. For all details on schedules, pricing, accommodations and travel please contact the ashram directly. If you have any suggestions to add to this directory, please contact us with information about the ashram and a link to their website.
				</h4>
				</div>
			</div>
		
			
		</center>
	</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br>
	


 <script type="text/javascript">
        {% include "bootstrap/js/jquery-1.10.2.js" %}
        {% include  "bootstrap/js/bootstrap.min.js" %}
       </script>
   
<footer style=
    "margin-top: 46px;
    margin-bottom: 0px;">	
<div class="container_12">
<div class="grid_12">
<div class="copy">
RishiNet © 2014 
</div></div>
<div class="clear"></div>
</div>



</body>
</html>