<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>About RishiNet</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

    <style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/index.css" %}
    {% include "bootstrap/css/form.css" %}
    {% include "bootstrap/css/style.css" %}
    {% include "bootstrap/css/superfish.css" %}
    
   </style>
     <script>
    
    $(window).load(function(){
      $().UItoTop({ easingType: 'easeOutQuart' });
     });
     
    </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div id="menu">
		<ul>
		    <li><img src="http://i.imgur.com/DaSk2Cf.jpg" alt="RishiNet" /><li/>
			<li><a href="/contact/"  title="">Contact Us</a></li>
			<li><a href="/share/" title="">Share </a></li>
			<li><a href="/gallery01/" title="">Gallery</a></li>
			<li><a href="/about/" title="">About</a></li>
			<li><a href="/index/" title="">Home</a></li>
		</ul>
	</div>




<div id="main">
<!--=======content================================-->
<br><br><br><br>
<div class="content">
  
    
 <div class="col-md-3"></div>
 <div class="col-md-7">
                                <dt>
                                   K 303, Hor women ,DAIICT<br>
                                    Gandhinagar , Gujarat.
                                </dt>
                                <dd><span>phone:</span>+91 8128748875</dd>
                               
                                <dd>E-mail: <a href="#" class="link-1">shilpi@rishinet.org</a></dd>
                            </dl>
                         </address><br>
                         <address class="mb0">
                            <dl>
                                <dt>
                                    K 310 ,Kor Women,DAIICT,<br>
Gandhinagar, Gujarat.
                                </dt>
                                <dd><span>Freephone:</span>+1 800 559 6580</dd>
                                <dd><span>Telephone:</span>+1 800 603 6035</dd>
                                
                                <dd>E-mail: <a href="#" class="link-1">mail@rishinet.org</a></dd>
                            </dl>
                         </address>
          </div>

    </div></div>
  </div>

<!--footer begins -->
<br><br><br><br><br><br><br><br><br><br><br><br>

   <script type="text/javascript">
        {% include "bootstrap/js/jquery-1.10.2.js" %}
        {% include  "bootstrap/js/bootstrap.min.js" %}
        
       </script>
<footer style=
    "margin-top: 46px;
    margin-bottom: 0px;">	
<div class="container_12">
<div class="grid_12">
<div class="copy">
RishiNet © 2014 
</div></div>
<div class="clear"></div>
</div>

</body>
</html>