<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>

    <!-- Bootstrap core CSS -->
    <style>
    {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/index.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/gallery.css" %}
    {% include "bootstrap/css/abcss.css" %}
    
   </style>
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div id="menu">
		<ul>
		    <li><img src="http://i.imgur.com/DaSk2Cf.jpg" alt="RishiNet" /><li/>
			<li><a href="#"  title="">Contact Us</a></li>
			<li><a href="/share/" title="">Share </a></li>
			<li><a href="/gallery1/" title="">Gallery</a></li>
			<li><a href="/about/" title="">About</a></li>
			<li><a href="/index/" title="">Home</a></li>
		</ul>
	</div>

			
			
				
                
           
<br><br><br><br><br><br><br>
     

    <div class="container">

       <br><br><br>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Dhosi Hills</h3>
                <h4>Located on the borders of south Haryana and north Rajasthan.</h4>
                <p> Haryana portion of the Hill lies in District Mahendragarh, and is located 5 km from Narnaul on Singhana Road and the Rajasthan portion lies in the district of Jhunjhunu. The hill is mentioned widely in Sanskrit Granths or Holy Books of Hindus likeBrahamanas, Mahabharat, Puranas etc. 
</p>
              <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Prem Prakash Ashram</h3>
                <h4>Located in Rajasthan</h4>
                <p>Located in Ajmer.After the partition of the country Swami Basantram Ji Maharaj, who were looking after the Prem Prakash Ashram Khandu, were shifted to Ajmer, the city of religious harmony in the royal state Rajasthan and founded Prem Prakash Ashram there some time around the year 1949, at Delhi Gate. It was quite small place where swami ji started ashram and daily Satsang.</p>
                <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Vashistha Ashram</h3>
                <h4>Located in Rajasthan</h4>
                <p>situated at a distance of 6 Km from Mount Abu Bus Stand, District Sirohi, Rajasthan. The Great Sage Shri Vashistha used to reside here alongwith his wife and the wish fulfilling cow gifted to him by the Devtas.Lord Rama also came here to have his schooling. </p>
                <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Ashram of Sage Jamadagni</h3>
                <h4>Located in Rajasthan</h4>
                <p>This holy place is situated at a distance of 6 Km from Mount Abu Bus Stand and 800 meters from Shri Vashistha Ashram in District Sirohi, Rajasthan.
                   At this place Great Sage Jamadagni, the Father of Lord Parshurama had meditated for a long period of time. 
            </p>
                <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Galtaji Temple</h3>
                <h4>Located In Rajasthan</h4>
                <p>Situated on Jaipur Agra Highway, 10 kms from Jaipur. (Near Sisodina Rani ka Bagh). 
It is said that the population surrounding the temple always faced the scarcity of water. The place was once a home or ashram for a sage named Galva. He for the well being of the people and the need of water meditated for a period of 100 years to appease the god. The saint Galva spend all his lifetime in the area doing tapasya. 
</p>
                <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li><a href="/gallery1/">1</a>
                    </li>
                    <li><a href="/gallery2/">2</a>
                    </li>
                    <li class="active"><a href="/gallery3/">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    
     <script type="text/javascript">
        {% include "bootstrap/js/jquery-1.10.2.js" %}
        {% include  "bootstrap/js/bootstrap.min.js" %}
       </script>
   
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="bootstrap/js/jquery-1.10.2.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

</body>

</html>
