<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="admin" >
    <title>Gallery</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="bootstrap/css/gallery.css" rel="stylesheet">
    <link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="themes/assets/css/carousel.css" rel="stylesheet">
    <link href="bootstrap/css/index.css" rel="stylesheet" type="text/css" media="screen">
    <style>
   {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/index.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/gallery.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}
     </style>
</head>

<body>

    

<div id="menu">
		<ul>
		    <li><img src="http://i.imgur.com/DaSk2Cf.jpg" alt="" /><li/>
			<li><a href="#"  title="">Contact Us</a></li>
			<li><a href="/share/" title="">Share </a></li>
			<li><a href="/gallery1/" title="">Gallery</a></li>
			<li><a href="/about/" title="">About</a></li>
			<li><a href="/index/" title="">Home</a></li>
		</ul>
	</div>

			
			
				
                
           
<br><br><br><br><br><br><br>
     

    <div class="container">

       <br><br><br>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Sadipani Ashram</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>2 KM away from Ujjain is a famous heritage of Sadipani Muni, tutor of the blue god Krishna.
The brothers, along with their friend Sudama, went to study at Guru Sandipani’s ashram </p>
                   <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Sarbhanga Ashram</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>The current location of this Ashram is around 13 kms
from Chithara Station, Satna, Madhya Pradesh. 

The Sarabhanga Ashram is one of the first ashrams
we find at the periphery of the Dandakaranya forest. </p>
   <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Sudekhsha Ashram</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>This ashram is located deeper into the Dandakaranya forest and one has to go through rough forest terrain and small settlements to reach here.There is a huge open yard with trees all around and a small temple for Rama- Sita at one end</p>
                   <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Agastya Ashram</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>Agastya ashram is on top of a hill, a 16 kms trek from the point of nearest habitat, a small but very hospitable village called Tamouli in Panna district near Patna,Madhya Pradesh. The hill itself is on the banks of the small Tridthi river.</p>
               <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Sati Anusuya Ashram</h3>
                <h4>Located In Madhya Pradesh</h4>
                <p>The Sati Anusuya Ashram is located at a 
distance of about 16 km from the town of Chitrakoot. 
It marks the place where they lived and meditated.
It is set amidst dense forests. 
</p>
                 <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="/gallery1/">1</a>
                    </li>
                    <li><a href="/gallery2/">2</a>
                    </li>
                    <li><a href="/gallery3/">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
</div>
        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
  <script type="text/javascript">
        {% include "bootstrap/js/jquery-1.10.2.js" %}
        {% include  "bootstrap/js/bootstrap.min.js" %}
    </script>
</body>

</html>
