<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="admin" >
    <title>Gallery</title>

    
    <style>
   {% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/index.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/gallery.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}
    </style>
 
    
</head>

<body>

    

<div id="menu">
		<ul>
		    <li><img src="http://i.imgur.com/DaSk2Cf.jpg" alt="" /><li/>
			<li><a href="#"  title="">Contact Us</a></li>
			<li><a href="/share/" title="">Share </a></li>
			<li><a href="/gallery1/" title="">Gallery</a></li>
			<li><a href="#" title="">About</a></li>
			<li><a href="/index/" title="">Home</a></li>
		</ul>
	</div>

			
			
				
                
           
<br><br><br><br><br><br><br>
     

    <div class="container">

       <br><br><br>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Amarkantak</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>228 km from Jabalpur, a great pilgrim centre for the Hindus, Amarkantak is the source of rivers Narmada and Sone. While the rivers Narmada flows westwards, the Sone flow towards east from Amarkantak. Set in sylvan surroundings, it is situated at an altitude of 1065 m at the meeting point of the Vindhya and Satpura mountain ranges. 
</p>
                  <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Jabalpur</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>Jabalpur city is tourism capital of Madhya Pradesh state.Their are many theories regarding the origin of name of city as Jabalpur. The most prevalent theory indicates that its name is derived from mythological hindu sage “Rishi Jabali</p>
                <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Digambara Ganesh Temple</h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>In Madhya Pradesh at Kadav there is a Digambar Siddhivinayaka. It is told Sage Kanva consecrated this idol. Since the idol is without clothes it is call a Digambara Ganesha.Kanva was a renowned rishi. He is the author of several hymns of the Rig Veda.</p>
                   <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Gwalior/h3>
                <h4>Located in Madhya Pradesh</h4>
                <p>With its stimulating ambience and undeniable aura of romance, Gwalior is one of the most impressive cities in India for the sensitive holidaymakers.Suraj Sen, a prince of the Kachhwaha clan of the 8th century, lost his way while venturing in the jungle and reached an isolated hill wandering around. There he met a venerable old man, Sage Gwalipa.
</p>
                   <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Bhind</h3>
                <h4>Located In Madhya Pradesh</h4>
                <p>The district is named after the mythological Hindu saint  Bibhandak Rishi, also called Bhindi Rishi.
</p>
                  <button class="btn btn-primary">View More &raquo;</button>
            </div>

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li><a href="/gallery1/">1</a>
                    </li>
                    <li class="active"><a href="/gallery2/">2</a>
                    </li>
                    <li><a href="/gallery3/">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script type="text/javascript">
        {% include "bootstrap/js/jquery-1.10.2.js" %}
        {% include  "bootstrap/js/bootstrap.min.js" %}
    </script>

</body>

</html>
