<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="admin" >
<title>Share Your Experience</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="themes/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="themes/assets/css/carousel.css" rel="stylesheet">
<link href="bootstrap/css/index.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />

<style>
    /*{% include "bootstrap/css/bootstrap.min.css" %}
    {% include "bootstrap/css/carousel.css" %}
    {% include "bootstrap/css/index.css" %}
    {% include "bootstrap/css/bootstrap.css" %}
    {% include "bootstrap/css/gallery.css" %}
    {% include "bootstrap/css/bootstrap-glyphicons.css" %}*/
    </style>
    
</head>
<body>

{% for x in y %}

  {{ x.rishi_name }}

{% endfor %}
</body>
</html>